@import "./src/assets/_config"; // import shared colors etc.

.fee-options {
  text-align: left;
}

.input-height {
  min-height: 4em;
}

.align-children {
  display: flex;
  align-items: center
}

.spaced {
  margin: 0 8px;
}
