<div mat-dialog-title>Confirm transaction</div>
<button class="small-close_button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="uniteIcon" fontIcon="unite-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">

  <!--TX confirmation-->
  <div class="tx-confirmation">
    <div class="tx-amount">
      <span class="big">{{ sendAmount.getIntegralPart() }}</span>
      <span *ngIf="!sendAmount.isIntegral()">
      <span class="point">.</span>
      <span class="small">{{ sendAmount.getFractionalPart() }}</span>&ensp;</span>
      <span class="currency">UTE</span>
      <!-- TODO: until fiat estimations are implemented, hide them -->
      <div class="fiat">&asymp; 3.42 USD</div>
    </div>

    <mat-icon class="icon arrow" fontSet="uniteIcon" fontIcon="unite-arrow-down"></mat-icon>

    <div class="receiver-info">
      <!--if address saved in Address Book, display its label. if not, hide it -->
      <div class="label" *ngIf="receiverName !== ''">{{ receiverName }}</div>
      <code class="address"> {{ sendAddress }} </code>
    </div>

    <p class="fee-info">
      Transaction fee:<span class="amount">{{ transactionFee.toString() }} UTE</span><span class="fiat">&asymp; 0.05 USD</span>
      <button mat-button color="primary"
              (click)="showAdvancedFeeOptions = !showAdvancedFeeOptions" matTooltip="Edit fee"
              *ngIf="!showAdvancedFeeOptions">
        <mat-icon fontSet="uniteIcon" fontIcon="unite-pen-1"></mat-icon>
        Edit
      </button>
    </p>

    <div class="section advanced" fxLayout="column" fxLayoutGap="8px" *ngIf="showAdvancedFeeOptions">
      <app-fee-options [send]="send" (updateFee)="setTransactionFee($event)"></app-fee-options>
    </div><!-- .section.advanced -->

    <div class="total-amount-info">
      Total amount:<span
      class="amount">{{ getAmountWithFee() }} UTE</span><span class="fiat">&asymp; 3.47 USD</span>
    </div>
  </div><!-- TX confirmation -->

</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="uniteIcon" fontIcon="unite-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="confirm()">
    <mat-icon fontSet="uniteIcon" fontIcon="unite-check"></mat-icon>
    Confirm &amp; Send
  </button>
</mat-dialog-actions>
