@import "./src/assets/_config"; // import shared colors etc.

.mat-card {
  margin-bottom: 20px;
}

.title { // box titles
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  margin: -4px 0 16px !important;
  .advanced-options {
    float: right;
    position: relative;
    top: -5px;
    right: -13px;
  }
}
