<div class="balance">
  <div class="desc">Selected amount: <span class="amount">{{ selectedBalance.toString() }}</span></div>
</div>

<form>
  <mat-radio-group class="payment-source" name="payment_source" [(ngModel)]="paymentSource" (change)="onChangePaymentSource()" fxLayout="column">
    <mat-radio-button value="everything">
      Any available coins
    </mat-radio-button>
    <mat-radio-button value="coin_control">
      Specific coins (advanced)
    </mat-radio-button>
  </mat-radio-group>

  <div class="ignore-checkbox-container" *ngIf="paymentSource == 'everything'">
    <mat-checkbox #ignoreRemoteStaked name="ignore_remote_staked" [(ngModel)]="transaction.ignoreRemoteStaked"
                  (change)="updateSelectedBalance()">
      Ignore coins that are staked remotely
    </mat-checkbox>
  </div>
</form>

<app-coin-selection *ngIf="paymentSource === 'coin_control'" (selectCoins)="selectCoins($event)"></app-coin-selection>
